* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 24px;
}

body {
    background-color: #182C61;
}

main {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    display: flex;

    border-radius: 10px;
    border: 2px solid #2c2c54;
    background-image: url(Board.jpg);
    background-color: #2C3A47;
    box-shadow: black 2px 2px 4px 2px;
}

/*                  Główna plansza                    */
div.board {
    height: 100%;
    width: 75%;
    border-right: 4px solid black;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(Board.jpg);
}

/* Boss Details */

div.bossDetails {
    display: flex;
    height: 25%;
    justify-content: space-around;
}

div.bossCards {
    text-align: center;
    height: 130px;
    width: 100px;
    background-color: tan;
    border-radius: 10px;
    box-shadow: black 2px 2px 4px 2px;
}

div.bossPic {
    height: 100%;
    width: 360px;
    border-radius: 10px;
    background-image: url('monster.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: black 2px 2px 4px 2px;
}

/* div.bossPic img {
    display: block;
    /* margin: auto; */
/* width: 100%;
    height: auto;
} */

div.bossHealth {
    text-align: center;
    height: 100px;
    width: 200px;
    background-color: tan;
    border-radius: 10px;
    box-shadow: black 2px 2px 4px 2px;
}

/* Boss Deck */
div.bossDeckContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

div.bossDeck {
    /* background-color: #b33939; */
    background-image: url(rusty.jpg);
    box-shadow: black 2px 2px 4px 2px;
    width: 900px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
}

.bossDeck p {
    color: white;
}

/* Player Details */
div.playerDetails {
    height: 30%;
    display: flex;
    justify-content: space-around;
}

div.playerDeck {
    text-align: center;
    width: 620px;
    /* background-color: wheat; */
    background-image: url(metal.jpg);
    box-shadow: black 2px 2px 4px 2px;
    border-radius: 10px;
}

div.playerHealth {
    text-align: center;
    height: 100px;
    border-radius: 10px;
    width: 200px;
    background-color: tan;
    box-shadow: black 2px 2px 4px 2px;
}


/*                  Nawigacja                         */
nav.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 25%;
    /* background-color: #40407a; */
    background-image: url(nav.jpg);
    border-radius: 0 10px 10px 0;
}

/* Shop */

div.shop {
    width: 75%;
    height: 50%;
    background-color: #2C3A47;
    border-radius: 10px;
    border: 2px solid #2c2c54;
    box-shadow: black 2px 2px 4px 2px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.shop p {
    width: 100%;
    color: white;
}

div.cardFromShop {
    margin: 15px;
    width: 16%;
    height: 20%;
    background-color: tan;
    box-shadow: black 1px 1px 2px 1px;
}

div.money {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: black 1px 1px 2px 1px;
}

div.playerCards {
    height: 130px;
    width: 100px;
    border-radius: 10px;
    background-color: tan;
    box-shadow: black 2px 2px 4px 2px;
}